<!-- define html structure for index/home page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
   
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<style>
  #home {
    background-image: url('../static/image/baner.jpg');
    background-repeat: no-repeat;
    /* overflow: hidden; */
    /* padding-top: 40px; */
    
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

#banner-flow {
    background-image: url('../static/image/banner-flow.jpg');
    background-repeat: no-repeat;
    
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: top 70px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
    background-attachment: fixed;
}

.active {
  background-color: rgb(255, 255, 255);
  }

</style>
    <title>FreButique</title>
</head>
<body>
<!--navigation bar-->
<nav class="navbar navbar-expand-lg py-5 navbar-dark fixed-top">
    <div class="container">
        <i class="fa-solid fa-bag-shopping fa-2x"> F r e</i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i id="bar" class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-bolder">
          
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="clothes.html">Clothing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shoes.html">Shoes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="wathes.html">Watches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accessories.html">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contac Us</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-magnifying-glass"></i>
          </li>
          <li class="nav-item">
            
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
      </div>
    </div>
  </nav>

<section id="home" class="">
    
    <div class="banner-text">
        <h5 class="text-uppercase">New arraivals</h5>
        <h1><span>Best Price</span> This Year</h1>
        <P>soome paragraph <br> and another on new line</P>
        <button type="button" id="home-btn" class="banner-btn">Shop Now</button>
    </div>

</section>
  
   
 <section id="brands" class="container">

  <div class="row m-0 py-3">
    <img src="../static/img/brand/1.png" alt="" srcset="">
    <img src="../static/img/brand/2.png" alt="" srcset="">
    <img src="../static/img/brand/3.png" alt="" srcset="">
    <img src="../static/img/brand/4.png" alt="" srcset="">
    <img src="../static/img/brand/5.png" alt="" srcset="">
    
  </div>
 </section>

 
<section class="container" >
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/t0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Women Knit Patchwork</h5>
          <a href="clothes.html" class="btn btn-dark ">Shop Now</a>
        </div>
       </div>
    </div>

    <div class="col-lg-4 col-12">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/w0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Watch</h5>
          <a href="wathes.html" class="btn btn-dark ">Shop Now</a>
        </div>
       </div>
    </div>

    <div class="col-lg-4 col-m-6 col-12">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/s0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">High Boots</h5>
          <a href="shoes.html" class="btn btn-dark ">Shop Now</a>
        </div>
       </div>
    </div>
  
   

</section>
    
<section id="featured" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5">
    <h3>Our Featured</h3>
    <hr class="mx-auto">
    <p>Check out our new products with fair price</p>
  </div>
  <div class="row mx-auto container-fluid ">
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="f-img img-fluid mb-3" src="../static/image/s0.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$300</h3>

    <button type="button">Shop Now</button>
    </div>
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/t2.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">t-shirt</h5>
      <h3 class="p-price">$200</h3>

      <button type="button">Shop Now</a></button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/w2.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$100</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/t1.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
  </div>
</section>

<section id="banner-flow" class="my-5 py-5">
  <div class="container">
    <h4>mid Season sale</h4>
    <h3 class="text-uppercase">up to 20% OFF</h3>
    <button class="text-uppercase">shop now</button>
  </div>
</section>

<section id="clothes" class="my-5">
  <div class="container text-center mt-5 py-5">
    <h3>Women's products</h3>
    <hr class="mx-auto">
    <p>Check out our new products with fair price</p>
  </div>
  <div class="row mx-auto container-fluid ">
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="f-img img-fluid mb-3" src="../static/img/clothes/2.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">dress</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/clothes/3.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">t-shirt</h5>
      <h3 class="p-price">$200</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/clothes/3.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$100</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/clothes/1.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
  </div>
</section>

<section id="Wathes" class="my-5">
  <div class="container text-center mt-5 py-5">
    <h3>Best Wathes</h3>
    <hr class="mx-auto">
    <p>Check out our new products with fair price</p>
  </div>
  <div class="row mx-auto container-fluid ">
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="f-img img-fluid mb-3" src="../static/img/watches/1.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">watches</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/watches/2.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">watches</h5>
      <h3 class="p-price">$200</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/watches/3.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">watches</h5>
      <h3 class="p-price">$100</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/img/watches/4.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">watches</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
  </div>
</section>

<section id="shoes" class="my-5">
  <div class="container text-center mt-5 py-5">
    <h3>Best Shoes</h3>
    <hr class="mx-auto">
    <p>Check out our new products with fair price</p>
  </div>
  <div class="row mx-auto container-fluid ">
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="f-img img-fluid mb-3" src="../static/image/sh0.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/sh1.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$200</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/sh2.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$100</h3>

      <button type="button">Buy Now</button>
    </div>

    <div class="products text-center col-lg-3 col-md-4 col-12">
      <img class="img-fluid mb-3" src="../static/image/sh3.jpg" alt="">
      
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <h5 class="p-name">shoes</h5>
      <h3 class="p-price">$300</h3>

      <button type="button">Buy Now</button>
    </div>
  </div>
</section>

<footer class="mt-5 py-5">
  <div class="row container mx-auto pt-4">
    <div class="footer-one col-lg-4 col-md-6 col-12">
      <i class="fa-solid fa-bag-shopping fa-2x"> F r e</i>
      <p class="pt-3">From handcrafted jewelry to sustainable fashion,
         their diverse offerings cater to a wide range of consumers.</p>
    </div>

    <div class="footer-one col-lg-4 col-md-6 col-12">
      <h5 class="pb-2">Featured</h5>
      <ul class="text-uppercase list-unstyled">
        <li><a href="clothes.html">Clothes</a></li>
        <li><a href="shoes.html">Shoes</a></li>
        <li><a href="wathes.html">Watches</a></li>
        <li><a href="accessories.html">Accessories</a></li>
        <li><a href="#">New arraivals</a></li>

      </ul>
    </div>

    <div class="footer-one col-lg-4 col-md-6 col-12">

      <h5 class="pb-2">Contact Us</h5>
      <div>
        <h6 class="text-uppercase">Address</h6>
        <p>012 STREET NAME, CITY ADDIS</p>
      </div>
      <div>
        <h6 class="text-uppercase">phone</h6>
        <p>0123456789</p>
      </div>
      <div>
        <h6 class="text-uppercase">email</h6>
        <p>fre@gmail.com</p>
      </div>
    </div>
  </div>
<div class="copyright mt-5">
  <div class="row container mx-auto">
    <div class="col-lg-3 col-md-6 col-12">
      <img src="../static/img/payment.png" alt="">
    </div>
    <div class="col-lg-4 col-md-6 col-12 text-nowrap">
      <p>fre E-commerce &copy; 2021. All Right Reserved</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12 ">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
</footer>

<script src="../static/js/custom.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
