<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css custom -->
    <link rel="stylesheet" href="css/main.css">

    <!--css library bootstrap-->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <title>version_2</title>

    <style>
        
    </style>
</head>
<body>
<!--navigation bar start-->

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="image/tabler--shopping-bag (1).svg" alt="brand">
            <span class="text-uppercase fw-light">Fre-shope</span>
        </a>
    
        <div>
            <button class="btn position-relative">
                <img src="image/" alt="" srcset="">
            </button>
        </div>
    </div>

    <section id="home">
    
        <div class="something">
            <h5 class="text-uppercase">New arraivals</h5>
            <h1><span>Best Price</span> This Year</h1>
            <P>soome paragraph <br> and another on new line</P>
            <button type="button">Shop Now</button>
        </div>
    
    </section>

</nav>

<!--navigation bar end-->







    <!--jquery-->
<script src="js/jquery-3.7.1.js"></script>
    <!--js bootstrap-->
<script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <!--custom js-->
<script src="js/custom.js"></script>
</body>
</html>